.mentor-image{
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5% !important;
}

mat-card-title{
  text-align: center;
}

mat-grid-tile-header{
  justify-content: center;
}

mat-grid-tile-footer{
  justify-content: center;
}

.email-icon {
  margin-left: -92%;
  margin-top: -12%;
  color: red;
}

.book-button{
  width: 40%;
  margin: 2%!important;
}
