.mentor-image{
  margin: 30% 20%;
}

mat-card-title{
  text-align: center;
}

mat-grid-tile-header{
  justify-content: center;
}

mat-grid-tile-footer{
  justify-content: center;
}

.email-icon {
  margin-left: -92%;
  margin-top: -12%;
  color: red;
}

.book-button{
  width: 40%;
  margin: 2%!important;
}

mat-card {
  margin: auto;
}

.mentor-details {
  text-align: center;
  width: 90%;
  margin: auto!important;
  background-color: rgba(0,0,0,0.9)!important;
}

