<mat-card>
  <mat-card-title>Mentor Profile</mat-card-title>
  <mat-card-content>
    <mat-grid-list [cols]="gridCols()" [rowHeight]="rowHeight()">
      <mat-grid-tile [colspan]="1" [rowspan]="rowSpan_1_4()" class="photo">
        <mat-grid-tile-header>Profile Photo</mat-grid-tile-header>
        <div class="mentor-image">
          <img mat-card-image [src]="mentor.photo" alt="">
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="colSpan()" [rowspan]="rowSpan_2_4()" class="profile">
        <mat-grid-tile-header>Profile</mat-grid-tile-header>
        <mat-list role="list">
          <mat-list-item role="list-item">Full Name: {{mentor.fullName}}</mat-list-item>
          <mat-list-item role="list-item">Spoken Languages: {{mentor.languages}}</mat-list-item>
          <mat-list-item role="list-item">Industry Experience: {{mentor["experience"]}} years</mat-list-item>
          <mat-list-item role="list-item">Skills: {{mentor["skills"]}}</mat-list-item>
          <mat-list-item role="list-item">
            <button mat-raised-button color="accent" (click)="downloadResume()">
              Download Resume
            </button>
          </mat-list-item>
        </mat-list>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="rowSpan_1_2()" class="contact">
        <mat-grid-tile-header>Contact</mat-grid-tile-header>
        <mat-list role="list" style="padding-top: 15%">
          <mat-list-item role="list-item">
            <mat-icon style="padding-right: 15%"> email</mat-icon>
            <span><a style="color:#FFFFFF;font-size: small" href="mailto:{{mentor.email}}">{{mentor.email}}</a></span>
          </mat-list-item>
          <mat-list-item role="list-item">
            <mat-icon style="padding-right: 15%"> phone</mat-icon>
            <span><a style="color:#FFFFFF;" href="tel:{{mentor.mobileNo}}"> +91- {{mentor.mobileNo}}</a></span>
          </mat-list-item>
        </mat-list>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="colSpan()" [rowspan]="rowSpan_1_2()" class="booking">
        <mat-grid-tile-header>Booking</mat-grid-tile-header>
        <span style="font-size:large;">₹ {{mentor.rate}} <span
          style="font-size: small">/ 40 mins of collaboration</span></span>
        <mat-grid-tile-footer>
          <a aria-label="Chat on WhatsApp" target="_blank"
             href="https://wa.me/91{{mentor.mobileNo}}?text=Hi,%20I%20need%20your%20support%2E%20" style="margin-right: 1%">
            <img alt="Chat on WhatsApp" src="../../assets/images/WhatsAppButtonGreenSmall.svg"/>
          </a>
          <a aria-label="Connect on Zoom" target="_blank"
             href="{{mentor.zoomLink}}">
            <img alt="Connect on Zoom" src="../../assets/images/connectOnZoom.svg" style="width: 160px"/>
          </a>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
