<mat-card>
  <mat-card-title>Mentor Profile</mat-card-title>

  <mat-card-content>
    <mat-grid-list cols="4" rowHeight="3:1">
      <mat-grid-tile [colspan]="1" [rowspan]="4" class="photo">
        Photo
      </mat-grid-tile>
      <mat-grid-tile [colspan]="3" [rowspan]="5" class="profile">
        Profile
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="2" class="contact">
        Contact
      </mat-grid-tile>
      <mat-grid-tile [colspan]="3" [rowspan]="1" class="booking">
        Booking
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>

</mat-card>
