<div *ngIf="origin !== 'K'"
     style="font-weight: bold; font-size:small;color:rgba(255,153,51, 0.7);text-align:center; font-family: 'Courier', serif !important;">{{title}}</div>
<br *ngIf="origin !== 'K'">
<div class="dialog" [innerHTML]="content" cdkFocusInitial
     [style]="origin !== 'K' ? 'text-align:center; border: 5px solid #AA964D': ''">
</div>
<div mat-dialog-actions>
  <button mat-button *ngIf="pdfName" style="background: rgba(19, 136, 8, 0.7); font-size:small"
          (click)="onDownloadClick(pdfName)">

    <a download="{{pdfName}}.pdf" href="../../assets/docs/{{pdfName}}.pdf"
       style="text-decoration:none;">
      <mat-icon style="font-family: 'Material Icons',serif !important; font-size:smaller!important;width:auto"
                color="secondary">download
      </mat-icon>
      {{title}} PDF</a></button>

  <button mat-button class="dialog-button"
          (click)="onOkClick()" *ngIf="origin !== 'K'">
    Got it
  </button>
</div>
