@media (min-width: 300px) {
  .dialog {
    font-size: small;
  }
}

@media (min-width: 1000px) {
  .dialog {
    font-size: medium;
  }
}

.dialog-button {
  background: rgba(19, 136, 8, 0.7);
  display: block;
  margin-left: auto;
  margin-right: auto;
}
