.example-spacer {
  flex: 1 1 auto;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

mat-toolbar{
  background-image: url("../../assets/images/VibrantHive.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 300px) {
  mat-toolbar{
    height:8%!important;
  }
}

@media (min-width: 1000px) {
  mat-toolbar{
    height:18%!important;
  }
}



html {
    height: 100%
}

.mat-toolbar-row, .mat-toolbar-single-row {
    height: 124px;
}
