<mat-toolbar>
  <span class="example-spacer"></span>


  <div class="example-button-row" *ngIf="showButtons()">
    <button mat-raised-button routerLink="/home" *ngIf="showHome()">
      <mat-icon style="font-family: 'Material Icons',serif !important;">home</mat-icon>
      Home
    </button>
    <button mat-raised-button (click)="goToProfile()" *ngIf="showApply()">
      <mat-icon *ngIf="applyButtonText==='Profile'" style="font-family: 'Material Icons',serif !important;"
                color="secondary">account_circle
      </mat-icon>
      <mat-icon *ngIf="applyButtonText!=='Profile'" style="font-family: 'Material Icons',serif !important;"
                color="secondary">work
      </mat-icon>
      {{applyButtonText}}</button>
    <button mat-raised-button color="secondary" routerLink="/services" *ngIf="showServices()">
      <mat-icon style="font-family: 'Material Icons',serif !important;" color="secondary">school</mat-icon>
      Services
    </button>
    <button mat-raised-button color="secondary" routerLink="/roadmap" *ngIf="showRoadmap()">
      <mat-icon style="font-family: 'Material Icons',serif !important;" color="secondary">route</mat-icon>
      Roadmap
    </button>
    <button mat-raised-button color="secondary" routerLink="/mentors" *ngIf="showMentors()">
      <mat-icon style="font-family: 'Material Icons',serif !important;" color="secondary">diversity_2</mat-icon>
      Mentors
    </button>
    <button mat-raised-button color="secondary" routerLink="/learner/0" *ngIf="showCertificate()">
      <mat-icon style="font-family: 'Material Icons',serif !important;" color="secondary">workspace_premium</mat-icon>
      Certificate
    </button>
    <button mat-raised-button style="background: rgba(233, 75, 36, 0.7)" routerLink="/login" *ngIf="showLogin()">
      <mat-icon style="font-family: 'Material Icons',serif !important;" color="secondary">login</mat-icon>
      Login
    </button>
    <button mat-raised-button color="secondary" (click)="logout()" *ngIf="isAuthenticated">
      <mat-icon style="font-family: 'Material Icons',serif !important;" color="secondary">logout</mat-icon>
      Logout
    </button>
  </div>

  <div *ngIf="showMenu()">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Account">
      <mat-icon style="font-family: 'Material Icons',serif !important;" color="secondary">menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/home" *ngIf="showHome()">
        <mat-icon style="font-family: 'Material Icons',serif !important;" color="secondary">home</mat-icon>
        Home
      </button>
      <button mat-menu-item (click)="goToProfile()" *ngIf="showApply()">
        <mat-icon *ngIf="applyButtonText==='Profile'" style="font-family: 'Material Icons',serif !important;"
                  color="secondary">account_circle
        </mat-icon>
        <mat-icon *ngIf="applyButtonText!=='Profile'" style="font-family: 'Material Icons',serif !important;"
                  color="secondary">work
        </mat-icon>
        {{applyButtonText}}</button>
      <button mat-menu-item routerLink="/services" *ngIf="showServices()">
        <mat-icon style="font-family: 'Material Icons',serif !important;" color="secondary">school</mat-icon>
        Services
      </button>
      <button mat-menu-item routerLink="/roadmap" *ngIf="showRoadmap()">
        <mat-icon style="font-family: 'Material Icons',serif !important;" color="secondary">route</mat-icon>
        Roadmap
      </button>
      <button mat-menu-item routerLink="/mentors" *ngIf="showMentors()">
        <mat-icon style="font-family: 'Material Icons',serif !important;" color="secondary">diversity_2</mat-icon>
        Mentors
      </button>
      <button mat-menu-item routerLink="/learner/0" *ngIf="showCertificate()">
        <mat-icon style="font-family: 'Material Icons',serif !important;" color="secondary">workspace_premium</mat-icon>
        Certificate
      </button>
      <button mat-menu-item routerLink="/login" *ngIf="showLogin()">
        <mat-icon style="font-family: 'Material Icons',serif !important;" color="secondary">login</mat-icon>
        Login
      </button>
      <button mat-menu-item (click)="logout()" *ngIf="isAuthenticated">
        <mat-icon style="font-family: 'Material Icons',serif !important;" color="secondary">logout</mat-icon>
        Logout
      </button>
    </mat-menu>
  </div>

  <button mat-icon-button aria-label="Account" (click)="goToProfile()" *ngIf="showAccount()">
    <mat-icon style="font-family: 'Material Icons',serif !important;" color="secondary">
      account_circle
    </mat-icon>
  </button>

<!--  <img *ngIf="showLetsVibe()" src="../../assets/images/letsVibe.png" [style]="isMobile()? 'height: 21px;cursor: pointer' : 'height: 42px;cursor: pointer'" alt="" (click)="openDialog()">-->
  <button mat-button routerLink="/services" *ngIf="showLetsVibe()"
          style=" text-align: center; background: rgba(255,255,255, 0.9); color:#000080;margin-left: auto;
    margin-right: auto;
    display: block; font-weight:bold;">
    <mat-icon style="font-family: 'Material Icons',serif !important; ; color:#000080"
              color="secondary">school
    </mat-icon>
    Courses
  </button>
</mat-toolbar>
