<mat-toolbar style="flex-direction: column!important;height: auto">

  <span style=" height:24px;font-family: Roboto,Helvetica Neue,sans-serif !important;"> © 2023 Vibrant Hive </span>
  <div style="text-align: center"><a aria-label="Chat on WhatsApp" target="_blank" class="whatsApp-footer"
                                     href="https://wa.me/919962212676?text=Hi,%20Can%20I%20ask%20you%20something?%20">
    <img height="24px" alt="Chat on WhatsApp" src="../../assets/images/whatsapp.svg"/>
  </a>

  <a aria-label="Instagram" target="_blank" class="whatsApp-footer"
                                     href="https://www.instagram.com/vibranthive.in">
    <img height="24px" alt="Instagram" src="../../assets/images/instagram.svg"/>
  </a>

  <a aria-label="GitHub" target="_blank" class="whatsApp-footer"
                                     href="https://github.com/Vibrant-Hive">
    <img height="24px" alt="Instagram" src="../../assets/images/github.svg"/>
  </a>
  </div>
</mat-toolbar>
