<p-toast></p-toast>
<mat-card class="mentor-details">
  <mat-card-title *ngIf="yourProfileShow"><span class="mentor-header">&nbsp;PROFILE&nbsp;</span></mat-card-title>
  <mat-card-content>
    <mat-card-title *ngIf="underReview">Application Under Review</mat-card-title>
    <form #mentorForm="ngForm">
      <mat-grid-list [cols]="gridCols()" [rowHeight]="rowHeight()">
        <mat-grid-tile>
          <mat-card class="mentor-section">
            <mat-card-content class="mentor-card">
              <div class="mentor-image">
                <img mat-card-image [src]="photoDP" alt="">
              </div>
              <div *ngIf="editing">
                <input type="file" class="file-input" #photoUpload
                       (change)="onPhotoSelected($event)">

                {{photoName ? '' : "Upload Photo"}}

                <button mat-mini-fab color="primary" class="upload-btn"
                        (click)="photoUpload.click()">
                  <mat-icon style="font-family: 'Material Icons',serif !important;">upload</mat-icon>
                </button>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="editing">
          <mat-card class="mentor-section">
            <mat-card-content class="mentor-card">
              <mat-form-field>
                <input matInput placeholder="Full Name" name="fullName" [(ngModel)]="fullName" required>
                <mat-error>
                  Please provide a name
                </mat-error>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Languages Spoken</mat-label>
                <mat-select [(ngModel)]="languages" name="languages" multiple>
                  <mat-option *ngFor="let option of languageOptions"
                              [value]="option.value">{{option.viewValue}}</mat-option>
                </mat-select>
                <mat-error>
                  Please provide the languages you can speak
                </mat-error>
              </mat-form-field>

              <mat-form-field>
                <input matInput type="text" placeholder="Zoom Personal Room Link" name="zoomLink" [(ngModel)]="zoomLink"
                       required>
                <mat-error>
                  Please provide the Zoom Personal Room Link
                </mat-error>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Select Availability</mat-label>
                <mat-select [(ngModel)]="availability" name="availability" multiple>
                  <mat-option *ngFor="let option of availabilityOptions"
                              [value]="option.value">{{option.viewValue}}</mat-option>
                </mat-select>
                <mat-error>
                  Please provide your availability
                </mat-error>
              </mat-form-field>

            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="editing">
          <mat-card class="mentor-section">
            <mat-card-content class="mentor-card">
              <mat-form-field class="example-full-width">
                <mat-label>Skill Set</mat-label>
                <mat-select [(ngModel)]="skillSetId" name="skills">
                  <mat-option *ngFor="let option of skillOptions"
                              [value]="option.value">{{option.viewValue}}</mat-option>
                </mat-select>
                <mat-error>
                  Please provide your skill-set
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput type="number" placeholder="Years of Experience" name="experience"
                       [(ngModel)]="experience"
                       required>
                <mat-error>
                  Please provide a valid no. of years
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput type="text" placeholder="Current Designation" name="designation"
                       [(ngModel)]="designation"
                       required>
                <mat-error>
                  Please provide your current designation
                </mat-error>
              </mat-form-field>
              <div>
                <input type="file" class="file-input"
                       (change)="onFileSelected($event)" #fileUpload>

                {{fileName || "Upload Resume"}}
                <button mat-mini-fab color="primary" class="upload-btn"
                        (click)="fileUpload.click()">
                  <mat-icon style="font-family: 'Material Icons',serif !important;">attach_file</mat-icon>
                </button>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="!editing">
          <mat-card class="mentor-section">
            <mat-card-content class="mentor-card">
              <mat-list role="list" *ngIf="showProfileDetails">
                <mat-list-item *ngIf="!editing" role="list-item"
                               style="font-size: large; font-weight: bold">{{fullName}}</mat-list-item>

                <mat-list-item *ngIf="!editing" role="list-item" style="font-weight: bold;"
                               matTooltip="{{relatedTechnologies}}"
                               matTooltipPosition="right">{{skills}}
                  <mat-icon style="font-family: 'Material Icons',serif !important;">info
                  </mat-icon>
                </mat-list-item>
                <mat-list-item *ngIf=" !editing && languages
                  " role="list-item"><span style="color: slategray">Speaks&nbsp; </span>
                  {{languages ? languages.toString().replace(',', ', ') : ''}}
                </mat-list-item>
                <mat-list-item *ngIf="!editing && availability" role="list-item"><span
                  style="color: slategray">Teaches at&nbsp;  </span>
                  {{availability ? availability.toString().replace(',', ', ') : ''}}
                </mat-list-item>
                <mat-list-item *ngIf="!editing && experience" role="list-item"><span
                  style="color: slategray">Experience of&nbsp; </span>
                  {{experience}} years
                </mat-list-item>
                <mat-list-item *ngIf="!editing && designation" role="list-item">{{designation}}</mat-list-item>
                <mat-list-item>
                  <button mat-raised-button style="margin:5%" color="secondary" *ngIf="resumeFileName"
                          (click)="downloadResume()">
                    Download Resume
                  </button>
                </mat-list-item>
              </mat-list>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>

      </mat-grid-list>
    </form>

  </mat-card-content>
  <mat-card-footer>
    <button *ngIf="editing" mat-raised-button color="secondary" class="apply-button" (click)="updateProfile()"
            [disabled]="!mentorForm.form.valid">
      {{applyButtonText}}
    </button>

    <div *ngIf="!editing">
      <a aria-label="Chat on WhatsApp" target="_blank" (click)="whatsAppRedirect()"
         style="margin-right: 1%; cursor:pointer">
        <img alt="Chat on WhatsApp" src="../../assets/images/WhatsAppButtonGreenSmall.svg"/>
      </a>
      <a aria-label="Connect on Zoom" target="_blank" (click)="zoomRedirect()" style="cursor:pointer">
        <img alt="Connect on Zoom" src="../../assets/images/connectOnZoom.svg" style="width: 160px"/>
      </a>
    </div>
  </mat-card-footer>
</mat-card>
