.upload-btn{
  margin: 0.5%;
}

.apply-button{
  margin: 1%;
}

.file-input {
  display: none;
}

.file-upload{
  width:25%
}

mat-form-field{
  margin: 1%;
}

mat-grid-tile-header{
  justify-content: center;
  margin-top: 2%!important;
  font-size:large;
}

.mentor-details {
  text-align: center;
  width: 75%;
  margin: auto!important;
  background-color: rgba(0,0,0,0.9)!important;
}

.mentor-card{
  display: flex;
  flex-direction: column;
}


@media (min-width: 300px) {
  .mentor-image{
    padding: 15% 25% 15% 25%;
    max-height:150px;
  }
  .mentor-details {
    width: 95%;
  }
  mat-list-item{
    height:38px!important;
  }
  .mentor-header {
    font-size: medium;
  }
}

@media (min-width: 1000px) {
  .mentor-image{
    padding: 5% 25% 5% 25%;
    max-height:250px;
  }
  .mentor-details {
    width: 80%;
  }
  mat-list-item{
    height:48px!important;
  }
  .mentor-header {
    font-size: x-large;
  }
}

.mentor-section{
  background-color: rgba(120,120,120,0.3)!important;
  min-height: 100%;
  min-width: 100%;
}

.mentor-header {
  font-family: "Courier", serif !important;
  font-weight: bold;
  font-size: x-large;
  color:lightslategray;
  /*font-family: Agency FB, serif!important;*/
}

mat-card-footer {
  margin: 0;
}
