mat-card {
  max-width: 400px;
  text-align: center;
   background-color: rgba(0,0,0,0.9)!important; 
   margin: auto;
}

mat-form-field {
  display: block;
}

.error {
  font-size: 10px;
  color: red;
}
