<mat-card>
  <form #loginForm="ngForm">
    <mat-card-content>
      <h2 style="color:rgba(255,153,51, 0.7)">Login</h2>
      <mat-error *ngIf="!loginValid">
        The credentials were not recognized
      </mat-error>
      <mat-form-field>
        <input matInput placeholder="Mobile Number" [(ngModel)]="userName" name="userName"
               pattern="[789][0-9]{9}" required>
        <mat-error>
          Please provide a valid mobile number
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" [(ngModel)]="password"
               name="password" required>
        <mat-icon style="font-family: 'Material Icons',serif !important;" matSuffix
                  (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error>
          Please provide a valid password
        </mat-error>
      </mat-form-field>
      <button mat-raised-button style="background: rgba(19,136,8, 0.7); font-weight: bold" (click)="onSubmit()">Login</button>
      <button mat-button style="background: lightslategray; float: right; font-weight: bold" routerLink="/createAccount">Register</button>
    </mat-card-content>
  </form>
</mat-card>

