<app-header></app-header>

<main>
  <router-outlet (activate)="onActivate($event)"></router-outlet>
<!--  <mat-card class="maintenance" style="text-align: center">-->
<!--    <mat-card-title><span class="mentor-header">&nbsp;SLEEPING NOW FOR A GOOD CAUSE&nbsp;</span></mat-card-title>-->
<!--    <span> WhatsApp Only (Look at the bottom of this page)</span>-->
<!--  </mat-card>-->
</main>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-atom"
             [fullScreen]="true"></ngx-spinner>

<app-footer></app-footer>
