main{
  padding: 5%;
}

@media (min-width: 300px) {
  main{
    background-size: contain;
    min-height: 100%;
  }
}

@media (min-width: 1000px) {
  main{
    min-height: 100%;
  }
}

.mentor-header {
  color: #E34922;

  font-weight: bold;
  font-size: x-large;
  /*font-family: Agency FB, serif!important;*/
}
