main{
  padding: 5%;
  background-image: url('../assets/images/tent.jpg');
}

@media (min-width: 300px) {
  main{
    background-size: contain;
    min-height: 63%;
  }
}

@media (min-width: 1000px) {
  main{
    min-height: 100%;
  }
}
