<mat-card class="mentor-details">
  <!--  <mat-card-title><span class="mentor-header">&nbsp;CERTIFICATE&nbsp;</span></mat-card-title>-->
  <mat-card-content>
    <mat-grid-list [cols]="gridCols()" [rowHeight]="rowHeight()">
      <mat-grid-tile>
        <mat-grid-tile-header><span
          style="color: rgba(255,153,51, 0.7);font-weight: bold; text-align:center;font-size: large; width:100%">Certificate <br><span
          style="color:lightslategray; font-size: small">QR Enabled</span></span>
        </mat-grid-tile-header>
        <img *ngIf="userId == 23" width="90%" src="../../assets/images/certificate23.png" alt="">
        <img *ngIf="userId == 0" width="90%" src="../../assets/images/certificate0.png" alt="">
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-grid-tile-header><span
          style="color: rgba(255,153,51, 0.7);font-weight: bold; text-align:center;font-size: large; width:100%">Learner Values <br><span
          style="color:lightslategray; font-size: small">Calculated vs Remarks</span></span>
        </mat-grid-tile-header>
        <barchart></barchart>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-grid-tile-header><span
          style="color: rgba(255,153,51, 0.7);font-weight: bold; text-align:center;font-size: large; width:100%">User Stories Done <br><span
          style="color:lightslategray; font-size: small">Review on GitHub</span></span>
        </mat-grid-tile-header>
        <mat-list>
          <mat-list-item *ngFor="let story of userStories;" style="height:100px; cursor:pointer"
                         (click)="githubBoard(story)">
            <span matListItemTitle style="padding-right: 10px">{{userStories.indexOf(story) + 1}}</span>
            <span matListItemIcon style="padding-right: 10px"><img style="height:30px" src="../../assets/images/github.svg" alt=""></span>
            <div matListItemLine style="padding-right: 10px">
              <div style="text-align: left" class="story-name">{{story.userStoryName}}</div>
              <div
                style="text-align: left; font-size: small; color: grey;font-family: 'Cambria', serif;">{{story.points}}
                Story Points
              </div>
            </div>
          </mat-list-item>
        </mat-list>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
