.mentor-details {
  text-align: center;
  width: 95%;
  margin: auto!important;
  background-color: rgba(0,0,0,0.9)!important;
}

.mentor-header {
  color: #E34922;

  font-weight: bold;
  font-size: x-large;
  width:100%
  /*font-family: Agency FB, serif!important;*/
}
@media (min-width: 300px) {
  .mentor-image{
    padding: 15% 25% 15% 25%;
    max-height:250px;
  }
  .mentor-header {
    font-size: medium;
  }
  .story-name {
    font-size: small;
  }
  .story-item {
    height: 120px;
  }
}

@media (min-width: 1000px) {
  .mentor-image{
    padding: 5% 25% 5% 25%;
    max-height:350px;
  }
  .mentor-header {
    font-size: x-large;
  }
  .story-name {
    font-size: medium;
  }
  .story-item {
    height: 120px;
  }
}
.story-card {
  max-width: 400px;
  background-color: rgba(0,0,0,0.9)!important;
  margin: auto;
}

.story-item {
  height: 120px;
}
.story-name{
  font-family: 'Cambria', serif;
}
