<mat-card>
  <mat-card-title style="text-align: center; font-weight: bold"><span class="mentor-header"
                                                                      style="font-size: large!important;"> Courses & Services</span>
  </mat-card-title>
  <mat-card-content>

    <span class="mentor-header">

      <p>We offer a wide range of services to enhance your programming skills and boost your career prospects. With our live 1:1 mentors, you can now unlock your full potential in the world of technology. Our prices are <b>negotiable</b> to ensure that everyone has access to high-quality education and mentorship.</p>

      <mat-accordion>
  <mat-expansion-panel class="expansion">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b>Programming</b>
      </mat-panel-title>
      <mat-panel-description>
        ₹ 6,999
      </mat-panel-description>
    </mat-expansion-panel-header>
    - Java
<br>- Python
<br>- C/C++
          <p>Master the fundamentals and intricacies of popular programming languages with our comprehensive courses. Our experienced mentors will guide you through the learning process, helping you become proficient in the language of your choice.</p>
    <p>*Duration: 2 weeks</p>
  </mat-expansion-panel>

        <mat-expansion-panel class="expansion">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b>Framework</b>
      </mat-panel-title>
      <mat-panel-description>
        ₹ 4,999
      </mat-panel-description>
    </mat-expansion-panel-header>
- Angular
<br>- Spring Boot
<br>- Django
<br>- Android

        <p>Take your programming skills to the next level by mastering application frameworks. Learn to build scalable web applications, develop robust backend systems, create dynamic websites, or design innovative mobile apps. Our mentors will provide personalized guidance to ensure your success.</p>
     <p>*Duration: 1 week</p>
     <p>*Requires prior programming skills</p>
 </mat-expansion-panel>

        <mat-expansion-panel class="expansion">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b>Other Languages </b>
      </mat-panel-title>
      <mat-panel-description>
        ₹ 2,999
      </mat-panel-description>
    </mat-expansion-panel-header>
- SQL
<br>- HTML & CSS
<br>- JavaScript
          <p>Expand your skill set with in-demand languages. SQL, HTML & CSS, and JavaScript are essential tools for developers and open doors to various career opportunities. Let our mentors teach you the best practices and techniques to excel in these languages.</p>
    <p>*Duration: 1 week</p>
</mat-expansion-panel>

        <mat-expansion-panel class="expansion">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b>Other Libraries </b>
      </mat-panel-title>
      <mat-panel-description>
        ₹ 2,999
      </mat-panel-description>
    </mat-expansion-panel-header>
- Gradle/Maven
<br>- Hibernate/JPA
<br>- Pandas/NumPy
<br>- Selenium/Cypress
<br>- Cucumber/TestNG/JUnit
          <p>Stay ahead of the curve by exploring popular frameworks. Whether you're interested in build automation, data processing, web testing, or software development, our mentors will help you navigate these frameworks and harness their power.</p>
    <p>*Duration: 1 week</p>
     <p>*Requires prior programming skills</p>
</mat-expansion-panel>

        <mat-expansion-panel class="expansion">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b>Dev-Ops </b>
      </mat-panel-title>
      <mat-panel-description [class]="'price'">
        ₹ 1,999
      </mat-panel-description>
    </mat-expansion-panel-header>
Bridge the gap between development and operations with our Dev-Ops course. Learn industry-leading practices and tools that streamline software development, deployment, and operations. Enhance your understanding of the software development lifecycle and become a valuable asset in any development team.
              <p>*Duration: 1 week</p>
</mat-expansion-panel>

        <mat-expansion-panel class="expansion">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b>Interview Prep </b>
      </mat-panel-title>
      <mat-panel-description>
        ₹ 1,999
      </mat-panel-description>
    </mat-expansion-panel-header>
Preparing for interviews can be challenging. Gain a competitive edge with our interview preparation course. Our mentors will help you refine your interview skills, provide guidance on common technical questions, and assist you in showcasing your abilities effectively.
    <p>*Duration: 1 week</p>
        </mat-expansion-panel>

        <mat-expansion-panel class="expansion">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b>On-Job Support </b>
      </mat-panel-title>
      <mat-panel-description>
        ₹ 999
      </mat-panel-description>
    </mat-expansion-panel-header>
          Need assistance while working on a project? Our on-job support service ensures that you have expert guidance whenever you encounter roadblocks. Our mentors will help you troubleshoot issues, provide insights, and ensure you succeed in your endeavors.
      <p>*Duration: 90 mins</p>
      </mat-expansion-panel>

        <mat-expansion-panel class="expansion">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b>Job Ready Kits </b>
      </mat-panel-title>
      <mat-panel-description>
        ₹ 29,999
      </mat-panel-description>
    </mat-expansion-panel-header>
- Full Stack Web Developer
<br>- Data Analyst
<br>- Automation Engineer
<br>- Mobile App Developer

          <p>Achieve your dream job with our job role-focused courses. Gain the skills and knowledge necessary to excel in a specific role, whether it's developing dynamic web applications, analyzing complex data sets, automating processes, or creating innovative mobile apps.</p>
    <p>*Duration: 8 weeks</p>
</mat-expansion-panel>
</mat-accordion>
    </span>
  </mat-card-content>
</mat-card>
