<mat-card class="available-mentors" *ngIf="availableMentorsShow">
  <mat-card-title>Book a Mentor</mat-card-title>

  <mat-card-content>
    <mat-grid-list cols="4">
      <mat-grid-tile *ngFor="let mentor of availableMentors">
        <mat-grid-tile-header>{{mentor.fullName}}, {{mentor["designation"]}}</mat-grid-tile-header>
        <mat-card>
          <mat-card-content class="mentor-card">
            <div class="mentor-image">
              <img mat-card-image src="../../assets/devsenior.jpg" alt="">
            </div>
            <span>Spoken Languages: {{mentor.languages}}</span>
            <span>Industry Experience: {{mentor["experience"]}} years</span>
            <span>Skills: {{mentor["skills"]}}</span>
          </mat-card-content>
        </mat-card>
        <mat-grid-tile-footer>
          <button mat-raised-button color="primary" class="book-button">Book</button>
          <span class="rate"> ₹{{mentor.rate}} / 90 mins of collaboration</span>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>

<mat-divider></mat-divider>

<mat-card class="mentor-all-details">
  <mat-card-title *ngIf="applyMentorShow">Become a Mentor</mat-card-title>
  <mat-card-title *ngIf="underReview">Your application in under review</mat-card-title>
  <mat-card-title *ngIf="appliedMentorsShow">Applied Mentors</mat-card-title>

  <mat-card-content *ngIf="appliedMentorsShow">
    <table mat-table [dataSource]="appliedMentors" class="mat-elevation-z8">

      <ng-container matColumnDef="fullName">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
      </ng-container>

      <ng-container matColumnDef="experience">
        <th mat-header-cell *matHeaderCellDef> Experience </th>
        <td mat-cell *matCellDef="let element"> {{element['experience']}} </td>
      </ng-container>

      <ng-container matColumnDef="skills">
        <th mat-header-cell *matHeaderCellDef> Skills </th>
        <td mat-cell *matCellDef="let element"> {{element['skills']}} </td>
      </ng-container>

      <ng-container matColumnDef="resume">
        <th mat-header-cell *matHeaderCellDef> Resume </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="accent" (click)="downloadResume(element['id'])">
            Download Resume
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="rate">
        <th mat-header-cell *matHeaderCellDef> Rate </th>
        <td mat-cell *matCellDef="let element">
          <input matInput type="number" placeholder="Rate" [(ngModel)]="element['rate']" required>
        </td>
      </ng-container>

      <ng-container matColumnDef="approve">
        <th mat-header-cell *matHeaderCellDef> Approve </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" (click)="approveMentor(element['id'], element['rate'])">
            Approve Mentor
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>


  <mat-card-content *ngIf="applyMentorShow">
    <form #mentorForm="ngForm" (ngSubmit)="apply()">
      <mat-form-field>
        <input matInput placeholder="Full Name" name="fullName" [(ngModel)]="fullName" required>
        <mat-error>
          Please provide a valid name
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput type="text" placeholder="Skills" name="skills" [(ngModel)]="skills" required>
        <mat-error>
          Please provide your skill-set
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" placeholder="Years of Experience" name="experience" [(ngModel)]="experience" required>
        <mat-error>
          Please provide a valid no. of years
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder="Current Designation" name="designation" [(ngModel)]="designation" required>
        <mat-error>
          Please provide your current designation
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder="Spoken Languages" name="languages" [(ngModel)]="languages" required>
        <mat-error>
          Please provide the languages you can speak
        </mat-error>
      </mat-form-field>
      <input type="file" class="file-input"
             (change)="onFileSelected($event)" #fileUpload>

      {{fileName || "Upload Resume"}}
      <button mat-mini-fab color="primary" class="upload-btn"
              (click)="fileUpload.click()">
        <mat-icon>attach_file</mat-icon>
      </button>

      <button mat-raised-button color="primary" class="apply-button" [disabled]="!mentorForm.form.valid">Apply as a
        mentor
      </button>
    </form>

  </mat-card-content>
</mat-card>


