/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  background-image: url('assets/images/tent.jpg');
  background-size: cover;
}

.mat-toolbar{
  background-color: rgba(0,0,0,0.7)!important;
}

* {
  font-family: Raleway, "Segoe UI", sans-serif !important;
}

.mat-dialog-container {
  background-color: rgba(120, 120, 120, 0.9) !important;
}

@media (min-width: 300px) {
  .p-toast {
    width: 75%!important;
    opacity:1.0;
  }

  .mentor-details .mat-list-base .mat-list-item .mat-list-item-content {
    justify-content: center;
  }
}

@media (min-width: 1000px) {
  .available-mentors .mat-grid-tile-content {
    height: 85%;
    width: 90%;
  }

  .p-toast {
    width: 25%!important;
    opacity:1.0;
  }
  .mentor-details .mat-list-base .mat-list-item .mat-list-item-content {
    justify-content: start;
  }

}

