/* You can add global styles to this file, and also import other style files */

html, body {
  height: 92%;
}

@media (min-width: 300px) {
  body {
    margin: 0;
    background-image: url('assets/images/tent.jpg');
    background-size: cover;
  }
}

@media (min-width: 1000px) {
  body {
    margin: 0;
    background-image: url('assets/images/tent.jpg');
    background-size: cover;
  }
}


.mat-toolbar {
  background-color: rgba(0, 0, 0, 0.7) !important;
}

* {
  font-family: 'Cambria', sans-serif !important;
}

.mat-dialog-container {
  background-color: rgba(0, 0, 0, 0.9) !important;
  border: 1px dashed darkslategray;
}

@media (min-width: 300px) {
  .p-toast {
    width: 75% !important;
    opacity: 1.0;
  }

  .mentor-details .mat-list-base .mat-list-item .mat-list-item-content {
    justify-content: center;
  }
}

@media (min-width: 1000px) {
  .available-mentors .mat-grid-tile-content {
    height: 85%;
    width: 90%;
  }

  .p-toast {
    width: 25% !important;
    opacity: 1.0;
  }

  .mentor-details .mat-list-base .mat-list-item .mat-list-item-content {
    justify-content: start;
  }

}

.mat-menu-panel {
  background-color: rgba(0, 0, 0, 0.9) !important;
}

.mat-menu-item {
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
  font-size: 16px;
  font-weight: normal;
  color: lightgray;
  padding: 0 8px !important;
  height: 48px;
  line-height: 48px;
}

.mat-menu-panel {
  border-radius: 2px !important;
  min-height: 0 !important;
}

.mat-menu-content:not(:empty) {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

.mat-raised-button {
  color: lightgray !important;
  font-weight: normal !important;
}

.material-icons {
  font-size: 21px !important;
}

.mat-menu-item .mat-icon {
  margin-right: 4px !important;
  vertical-align: middle;
}

a {
  color: white;
}
