<mat-card class="mentor-details">
  <mat-card-title><span class="mentor-header">&nbsp;MENTORING ROADMAP&nbsp;</span></mat-card-title>
  <br>
  <mat-card-content>
    <mat-grid-list [cols]="gridCols()" [rowHeight]="rowHeight()">
      <mat-grid-tile class="learn-tile">
        <mat-grid-tile-header><span
          style="color: deeppink;font-weight: bold; text-align:center;font-size: medium">Computer Basics</span>
        </mat-grid-tile-header>
        <span class="text-knowledge">
          Introduce computer basics with a help of smartphone <br> <br>
                • Operating system<br>
                • Network<br>
                • Software Installation<br>
                • Server
            </span>
        <mat-grid-tile-footer>
          <button mat-raised-button color="primary" class="book-button" (click)="openDialog('Computer Basics')">
            <mat-icon style="font-family: 'Material Icons',serif !important;" color="secondary">self_improvement
            </mat-icon>
            Self-Learn
          </button>
          &nbsp;
          <button mat-raised-button color="secondary" class="book-button" routerLink="/mentors">
            <mat-icon color="secondary" style="font-family: 'Material Icons',serif !important;">diversity_2</mat-icon>
            Mentors
          </button>
        </mat-grid-tile-footer>
      </mat-grid-tile>
      <br *ngIf="isMobile()">
      <mat-grid-tile>
        <mat-grid-tile-header><span
          style="color: deeppink;font-weight: bold; text-align:center;font-size: medium">Database | SQL Basics</span>
        </mat-grid-tile-header>
        <span class="text-knowledge">
          Create a database and start with SQL basics up to select query on conditions <br><br>
                • CREATE <br>
                • INSERT<br>
                • UPDATE<br>
                • DELETE<br>
                • SELECT
            </span>
        <mat-grid-tile-footer>
          <button mat-raised-button color="primary" class="book-button" (click)="openDialog('Database | SQL Basics')">
            <mat-icon style="font-family: 'Material Icons',serif !important;" color="secondary">self_improvement
            </mat-icon>
            Self-Learn
          </button>
          &nbsp;
          <button mat-raised-button color="secondary" class="book-button" routerLink="/mentors">
            <mat-icon color="secondary" style="font-family: 'Material Icons',serif !important;">diversity_2</mat-icon>
            Mentors
          </button>
        </mat-grid-tile-footer>
      </mat-grid-tile>
      <br *ngIf="isMobile()">

      <mat-grid-tile>
        <mat-grid-tile-header><span
          style="color: deeppink;font-weight: bold; text-align:center;font-size: medium">Frontend | HTML Basics</span>
        </mat-grid-tile-header>
        <span class="text-knowledge">
          Introduce HTML tags using an online web page<br><br>
                • Tags<br>
                • Attributes<br>
                • Styling<br>
                • Value Binding (Angular)
            </span>
        <mat-grid-tile-footer>
          <button mat-raised-button color="primary" class="book-button" (click)="openDialog('Frontend | HTML Basics')">
            <mat-icon style="font-family: 'Material Icons',serif !important;" color="secondary">self_improvement
            </mat-icon>
            Self-Learn
          </button>
          &nbsp;
          <button mat-raised-button color="secondary" class="book-button" routerLink="/mentors">
            <mat-icon color="secondary" style="font-family: 'Material Icons',serif !important;">diversity_2</mat-icon>
            Mentors
          </button>
        </mat-grid-tile-footer>
      </mat-grid-tile>

      <br>

      <mat-grid-tile>
        <mat-grid-tile-header><span
          style="color: deeppink;font-weight: bold; text-align:center;font-size: medium">Backend | Java/Python Basics</span>
        </mat-grid-tile-header>
        <span class="text-knowledge">
          Introduce Java core concepts using main program <br><br>
                • Basics: Class, Method, Variable, Datatype<br>
                • Statements: If else condition, For loop, While loop<br>
                • Collections: List, Set, Map<br>
                • Annotations: Spring, Lombok
            </span>
        <mat-grid-tile-footer>
          <button mat-raised-button color="primary" class="book-button" (click)="openDialog('Backend | Java/Python Basics')">
            <mat-icon style="font-family: 'Material Icons',serif !important;" color="secondary">self_improvement
            </mat-icon>
            Self-Learn
          </button>
          &nbsp;
          <button mat-raised-button color="secondary" class="book-button" routerLink="/mentors">
            <mat-icon color="secondary" style="font-family: 'Material Icons',serif !important;">diversity_2</mat-icon>
            Mentors
          </button>
        </mat-grid-tile-footer>
      </mat-grid-tile>
      <br *ngIf="isMobile()">

      <mat-grid-tile>
        <mat-grid-tile-header><span
          style="color: deeppink;font-weight: bold; text-align:center;font-size: medium">Frameworks</span>
        </mat-grid-tile-header>
        <span class="text-knowledge">
          Show how data flows from database to frontend and vice versa <br><br>
                • Frontend - Angular<br>
                • Backend - Spring Boot / Django<br>
            </span>
        <mat-grid-tile-footer>
          <button mat-raised-button color="primary" class="book-button" (click)="openDialog('Frameworks')">
            <mat-icon style="font-family: 'Material Icons',serif !important;" color="secondary">self_improvement
            </mat-icon>
            Self-Learn
          </button>
          &nbsp;
          <button mat-raised-button color="secondary" class="book-button" routerLink="/mentors">
            <mat-icon color="secondary" style="font-family: 'Material Icons',serif !important;">diversity_2</mat-icon>
            Mentors
          </button>
        </mat-grid-tile-footer>
      </mat-grid-tile>
      <br *ngIf="isMobile()">

      <mat-grid-tile>
        <mat-grid-tile-header><span
          style="color: deeppink;font-weight: bold; text-align:center;font-size: medium">Try it on</span>
        </mat-grid-tile-header>
        <span class="text-knowledge">
                • Create a spring boot / Django service and connect to database<br><br>
                • Create an endpoint and call it from browser<br><br>
                • Create an Angular app and show it in browser<br>
            </span>
        <mat-grid-tile-footer>
          <button mat-raised-button color="primary" class="book-button" (click)="openDialog('Try it on')">
            <mat-icon style="font-family: 'Material Icons',serif !important;" color="secondary">self_improvement
            </mat-icon>
            Self-Learn
          </button>
          &nbsp;
          <button mat-raised-button color="secondary" class="book-button" routerLink="/mentors">
            <mat-icon color="secondary" style="font-family: 'Material Icons',serif !important;">diversity_2</mat-icon>
            Mentors
          </button>
        </mat-grid-tile-footer>
      </mat-grid-tile>

    </mat-grid-list>
  </mat-card-content>
</mat-card>
