<mat-card class="mentor-details">
  <mat-card-title><span class="mentor-header">&nbsp;ROADMAP&nbsp;</span></mat-card-title>
  <br>
  <mat-card-content>
    <mat-grid-list [cols]="gridCols()" [rowHeight]="rowHeight()">
      <mat-grid-tile class="learn-tile" style="cursor: pointer" (click)="openDialog('Computer Basics')">
        <mat-grid-tile-header><span
          class="topic">Computer Basics</span>
        </mat-grid-tile-header>
        <span class="text-knowledge">
          Understand computer basics with a help of smartphone <br> <br>
                • Operating system<br>
                • Network<br>
                • Software Installation<br>
                • Server
            </span>
        <mat-grid-tile-footer>
          <div style="width: 100%;">
                <button mat-button cdkFocusInitial 
             style="background: rgba(255,153,51, 0.9);color: black;text-align: center; margin-left: auto; 
     margin-right: auto; 
     display: block; font-weight:bold;"> 
       <mat-icon style="font-family: 'Material Icons',serif !important; " 
                 color="secondary">self_improvement 
       </mat-icon> 
       Self-Learn 
     </button>
      </div>
        </mat-grid-tile-footer>
      </mat-grid-tile>
      <br *ngIf="isMobile()">
      <mat-grid-tile class="learn-tile" style="cursor: pointer" (click)="openDialog('Database | SQL')">
        <mat-grid-tile-header><span
          class="topic">Database | SQL</span>
        </mat-grid-tile-header>
        <span class="text-knowledge">
          Create a database and start with the SQL basics <br><br>
                • CREATE <br>
                • INSERT<br>
                • UPDATE<br>
                • DELETE<br>
                • SELECT
            </span>
        <mat-grid-tile-footer>
          <div style="width: 100%;">
           <button mat-button cdkFocusInitial 
             style="background: rgba(255,153,51, 0.9);color: black;text-align: center; margin-left: auto; 
     margin-right: auto; 
     display: block; font-weight:bold;"> 
       <mat-icon style="font-family: 'Material Icons',serif !important; " 
                 color="secondary">self_improvement 
       </mat-icon> 
       Self-Learn 
     </button>
          </div>
        </mat-grid-tile-footer>
      </mat-grid-tile>
      <br *ngIf="isMobile()">

      <mat-grid-tile class="learn-tile" style="cursor: pointer" (click)="openDialog('Frontend | HTML')">
        <mat-grid-tile-header><span
          class="topic">Frontend | HTML</span>
        </mat-grid-tile-header>
        <span class="text-knowledge">
          Understand HTML using an existing web page<br><br>
                • Tags<br>
                • Attributes<br>
                • Styling<br>
            </span>
        <mat-grid-tile-footer>
          <div style="width: 100%;">
            <mat-icon class="icon-meditate">self_improvement
            </mat-icon>
            <div>

                <a class="learn">
                  Self-Learn
                </a>

            </div>
          </div>
        </mat-grid-tile-footer>
      </mat-grid-tile>

      <br>

      <mat-grid-tile class="learn-tile" style="cursor: pointer" (click)="openDialog('Backend | Programming')">
        <mat-grid-tile-header><span
          class="topic">Backend | Programming</span>
        </mat-grid-tile-header>
        <span class="text-knowledge">
          Understand core programming concepts <br><br>
                • Fundamentals: Class, Method, Variable, Datatype<br><br>
                • Statements: If else, For, While<br><br>
                • Data Structures: List, Set, Map<br><br>
            </span>
        <mat-grid-tile-footer>
          <div style="width: 100%;">
            <mat-icon class="icon-meditate">self_improvement
            </mat-icon>
            <div>

                <a class="learn">
                  Self-Learn
                </a>

            </div>
          </div>
        </mat-grid-tile-footer>
      </mat-grid-tile>
      <br *ngIf="isMobile()">

      <mat-grid-tile class="learn-tile" style="cursor: pointer" (click)="openDialog('Frameworks')">
        <mat-grid-tile-header><span class="topic">Frameworks</span>
        </mat-grid-tile-header>
        <span class="text-knowledge">
          Understand how data flows between different servers <br><br>
                • Frontend - Angular / React <br><br>
                • Backend - Spring Boot / Django <br><br>
                • Testing - Selenium / Cypress / TestNG / Cucumber<br>
            </span>
        <mat-grid-tile-footer>
          <div style="width: 100%;">
            <mat-icon class="icon-meditate">self_improvement
            </mat-icon>
            <div>

                <a class="learn">
                  Self-Learn
                </a>

            </div>
          </div>
        </mat-grid-tile-footer>
      </mat-grid-tile>
      <br *ngIf="isMobile()">

      <mat-grid-tile class="learn-tile" style="cursor: pointer" (click)="openDialog('Your First App')">
        <mat-grid-tile-header><span
          style="color: rgba(255,153,51, 0.7);font-weight: bold; text-align:center;font-size: medium; width: 100%; width: 100%">Your First App</span>
        </mat-grid-tile-header>
        <span class="text-knowledge">
                • Create a backend service and connect to database<br><br>
                • Create an endpoint and call it from browser<br><br>
                • Create a frontend app and view it in browser<br><br>
                • Create a test suite and test an app<br>
            </span>
        <mat-grid-tile-footer>
          <div style="width: 100%;">
            <mat-icon class="icon-meditate">self_improvement
            </mat-icon>
            <div>
                <a class="learn">
                  Self-Learn
                </a>
            </div>
          </div>
        </mat-grid-tile-footer>
      </mat-grid-tile>

    </mat-grid-list>
  </mat-card-content>
</mat-card>
