<mat-card class="mentor-details">
  <mat-card-title><span class="mentor-header">&nbsp;ROADMAP&nbsp;</span></mat-card-title>
  <br>
  <mat-card-content>
    <mat-grid-list [cols]="gridCols()" [rowHeight]="rowHeight()">
      <mat-grid-tile class="learn-tile">
        <mat-grid-tile-header><span
          style="color: #ECC925;font-weight: bold; text-align:center;font-size: medium; width: 100%">Computer Basics</span>
        </mat-grid-tile-header>
        <span class="text-knowledge">
          Introduce computer basics with a help of smartphone <br> <br>
                • Operating system<br>
                • Network<br>
                • Software Installation<br>
                • Server
            </span>
        <mat-grid-tile-footer>
          <div style="width: 60%; cursor: pointer; background-color:#606060:" (click)="openDialog('Computer Basics')">
            <mat-icon style="font-family: 'Material Icons',serif !important; color:white">self_improvement
            </mat-icon>
            <div>
              <a style="color:white; font-size: small">
                Self-Learn
              </a>
            </div>
          </div>
        </mat-grid-tile-footer>
      </mat-grid-tile>
      <br *ngIf="isMobile()">
      <mat-grid-tile>
        <mat-grid-tile-header><span
          style="color: #ECC925;font-weight: bold; text-align:center;font-size: medium; width: 100%">Database | SQL Basics</span>
        </mat-grid-tile-header>
        <span class="text-knowledge">
          Create a database and start with SQL basics up to select query on conditions <br><br>
                • CREATE <br>
                • INSERT<br>
                • UPDATE<br>
                • DELETE<br>
                • SELECT
            </span>
        <mat-grid-tile-footer>
          <div style="width: 100%; cursor: pointer" (click)="openDialog('Database | SQL Basics')">
            <mat-icon style="font-family: 'Material Icons',serif !important; color:white">self_improvement
            </mat-icon>
            <div>
              <a style="color:white; font-size: small">
                Self-Learn
              </a>
            </div>
          </div>
        </mat-grid-tile-footer>
      </mat-grid-tile>
      <br *ngIf="isMobile()">

      <mat-grid-tile>
        <mat-grid-tile-header><span
          style="color: #ECC925;font-weight: bold; text-align:center;font-size: medium; width: 100%">Frontend | HTML Basics</span>
        </mat-grid-tile-header>
        <span class="text-knowledge">
          Introduce HTML using an online web page<br><br>
                • Tags<br>
                • Attributes<br>
                • Styling<br>
            </span>
        <mat-grid-tile-footer>
          <div style="width: 100%; cursor: pointer" (click)="openDialog('Frontend | HTML Basics')">
            <mat-icon style="font-family: 'Material Icons',serif !important; color:white">self_improvement
            </mat-icon>
            <div>
              <a style="color:white; font-size: small">
                Self-Learn
              </a>
            </div>
          </div>
        </mat-grid-tile-footer>
      </mat-grid-tile>

      <br>

      <mat-grid-tile>
        <mat-grid-tile-header><span
          style="color: #ECC925;font-weight: bold; text-align:center;font-size: medium; width: 100%">Backend | Java/Python Basics</span>
        </mat-grid-tile-header>
        <span class="text-knowledge">
          Introduce core concepts using a small program <br><br>
                • Basics: Class, Method, Variable,   Datatype<br>
                • Statements: If else, For, While<br>
                • Data Structure: List, Set, Map<br>
            </span>
        <mat-grid-tile-footer>
          <div style="width: 100%; cursor: pointer" (click)="openDialog('Backend | Java/Python Basics')">
            <mat-icon style="font-family: 'Material Icons',serif !important; color:white">self_improvement
            </mat-icon>
            <div>
              <a style="color:white; font-size: small">
                Self-Learn
              </a>
            </div>
          </div>
        </mat-grid-tile-footer>
      </mat-grid-tile>
      <br *ngIf="isMobile()">

      <mat-grid-tile>
        <mat-grid-tile-header><span
          style="color: #ECC925;font-weight: bold; text-align:center;font-size: medium; width: 100%">Frameworks</span>
        </mat-grid-tile-header>
        <span class="text-knowledge">
          Show how data flows from database to frontend and vice versa <br><br>
                • Frontend - Angular / React <br>
                • Backend - Spring Boot / Django <br>
                • Testing - Selenium / Cypress / TestNG / Cucumber<br>
            </span>
        <mat-grid-tile-footer>
          <div style="width: 100%; cursor: pointer" (click)="openDialog('Frameworks')">
            <mat-icon style="font-family: 'Material Icons',serif !important; color:white">self_improvement
            </mat-icon>
            <div>
              <a style="color:white; font-size: small">
                Self-Learn
              </a>
            </div>
          </div>
        </mat-grid-tile-footer>
      </mat-grid-tile>
      <br *ngIf="isMobile()">

      <mat-grid-tile>
        <mat-grid-tile-header><span
          style="color: #ECC925;font-weight: bold; text-align:center;font-size: medium; width: 100%; width: 100%">Your First App</span>
        </mat-grid-tile-header>
        <span class="text-knowledge">
                • Create a backend service and connect to database<br>
                • Create an endpoint and call it from browser<br>
                • Create a frontend app and view it in browser<br>
                • Create a test suite and test an app<br>
            </span>
        <mat-grid-tile-footer>
          <div style="width: 100%; cursor: pointer" (click)="openDialog('Your First App')">
            <mat-icon style="font-family: 'Material Icons',serif !important; color:white">self_improvement
            </mat-icon>
            <div>
              <a style="color:white; font-size: small">
                Self-Learn
              </a>
            </div>
          </div>
        </mat-grid-tile-footer>
      </mat-grid-tile>

    </mat-grid-list>
  </mat-card-content>
</mat-card>
