<mat-card>
  <mat-card-title style="text-align: center; font-weight: bold"><span class="mentor-header"
                                                                      style="font-size: large!important;">Hello, AI World!</span>
  </mat-card-title>
  <mat-card-content *ngIf="isMobile()">

    <mat-card-title><span class="mentor-header">Everything is on the internet today. With the AI chatbots currently in the play, learning a software technology is a matter of just <b
      style="font-size: medium;font-family: 'Courier', serif !important;">A FEW DAYS.</b> <br><br><span
      class="mentor-header-center">"All you need is <br>a <b
      style="font-size: medium;font-family: 'Courier', serif !important;">ROADMAP</b> and a
      <b style="font-size: medium;font-family: 'Courier', serif !important;">MENTOR</b><br> to connect the dots"</span>
      </span>
    </mat-card-title>
    <!--    <br><p style="padding:13px">Everything is on the internet. All you need is a roadmap to learn any technology.</p>-->
    <button mat-button cdkFocusInitial routerLink="/roadmap" *ngIf="showRoadmap()"
            style="background: rgba(255,153,51, 0.7);color: black;text-align: center; margin-left: auto;
    margin-right: auto;
    display: block;">
      <mat-icon style="font-family: 'Material Icons',serif !important; "
                color="secondary">route
      </mat-icon>
      Roadmap
    </button>

    <mat-card-title><span class="mentor-header"><br><br>Our 1:1 mentors are skillful and<b
      style="font-size: medium;font-family: 'Courier', serif !important;"> QUALIFIED PROFESSIONALS</b> who will:

    <br><br>💪🏼 <b style="color:rgb(255,153,51);font-size: medium;font-family: 'Courier', serif !important;">P</b>repare you for the real time tasks
    <br>💪🏼 <b style="color:rgb(255,153,51);font-size: medium;font-family: 'Courier', serif !important;">U</b>nderstand where you can improve
    <br>💪🏼 <b style="color:rgb(255,153,51);font-size: medium;font-family: 'Courier', serif !important;">S</b>hape you up for the future
    <br>💪🏼 <b style="color:rgb(255,153,51);font-size: medium;font-family: 'Courier', serif !important;">H</b>elp you in reaching your goals
    </span>
    </mat-card-title>
    <button mat-button routerLink="/mentors" *ngIf="showMentors()"
            style=" text-align: center; background: rgba(255,255,255, 0.7); color:#000080;margin-left: auto;
    margin-right: auto;
    display: block;">
      <mat-icon style="font-family: 'Material Icons',serif !important; ; color:#000080"
                color="secondary">diversity_2
      </mat-icon>
      Mentors
    </button>

    <mat-card-title><span class="mentor-header"><br><br> Our Course Completion certificate is <b style="font-size: medium;font-family: 'Courier', serif !important;">QR ENABLED</b> which tells more about you like your:
      <br><br>✅ Skill-set
      <br>✅ Capabilities
      <br>✅ Core values
      <br>✅ Working style
      <br>✅ Real time tasks
      <br>✅ Hands-on technologies
    </span>
    </mat-card-title>
    <button mat-button routerLink="/learner/0" *ngIf="showCertificate()"
            style=" text-align: center;  background: rgba(255,255,255, 0.7); color:#000080;margin-left: auto;
    margin-right: auto;
    display: block;">
      <mat-icon style="font-family: 'Material Icons',serif !important ; ; color:#000080"
                color="secondary">
        workspace_premium
      </mat-icon>
      Certificate
    </button>

    <mat-card-title><span class="mentor-header"><br><br>Become <b
      style="font-size: medium;font-family: 'Courier', serif !important;">MULTI-PROFESSIONAL</b> and prepare for the new AI world. By loggin in, you can:
    <br><br>👍🏽 Connect with our mentors <br> Get skilled in the technologies
      <br>👍🏽 Create a profile for you
    <br>👍🏽 Apply as a Mentor
    </span>
    </mat-card-title>
    <button mat-button (click)="showProfile()" *ngIf="showApply()"
         style=" text-align: center;background: rgba(19,136,8, 0.7);margin-left: auto;
    margin-right: auto;
    display: block;">
      <mat-icon style="font-family: 'Material Icons',serif !important; ">work</mat-icon>
      Apply as Mentor
    </button>
    <br *ngIf="showApply()">
    <button mat-button routerLink="/login" *ngIf="showLogin()"
            style="background: rgba(19,136,8, 0.7); text-align: center;margin-left: auto;
    margin-right: auto;
    display: block;">
      <mat-icon style="font-family: 'Material Icons',serif !important;"
                color="secondary">login
      </mat-icon>
      Login
    </button>
    <button mat-button (click)="logout()" *ngIf="isAuthenticated"
            style="background: rgba(19,136,8, 0.7); text-align: center;margin-left: auto;
    margin-right: auto;
    display: block;">
      <mat-icon style="font-family: 'Material Icons',serif !important;"
                color="secondary">logout
      </mat-icon>
      Logout
    </button>
  </mat-card-content>
  <mat-card-content *ngIf="!isMobile()" style="text-align:center">
    <img src="../../assets/images/letsVibe.png" style="cursor: pointer" (click)="openDialog()">
  </mat-card-content>
</mat-card>
