<mat-card class="box" *ngIf="isMobile()">
  <mat-card-title style="text-align: center"><span class="mentor-header">"Code that works well is a dopamine booster"</span></mat-card-title>
  <mat-card-content>
    <div mat-menu-item routerLink="/roadmap" *ngIf="showRoadmap()" style="color: #E77922">
      <mat-icon style="font-family: 'Material Icons',serif !important; color: #E77922" color="secondary">route</mat-icon>
      Roadmap
    </div>
    <div mat-menu-item routerLink="/mentors" *ngIf="showMentors()">
      <mat-icon style="font-family: 'Material Icons',serif !important;" color="secondary">diversity_2</mat-icon>
      Mentors
    </div>
    <div mat-menu-item routerLink="/learner/23" *ngIf="showCertificate()">
      <mat-icon style="font-family: 'Material Icons',serif !important;" color="secondary">workspace_premium</mat-icon>
      Certificate
    </div>
    <div mat-menu-item (click)="showProfile()" *ngIf="showApply()">
      <mat-icon style="font-family: 'Material Icons',serif !important;">work</mat-icon>
      Apply as Mentor</div>
    <div mat-menu-item routerLink="/login" *ngIf="showLogin()" style="color: rgba(34,139,34, 0.7)">
      <mat-icon style="font-family: 'Material Icons',serif !important;color: rgba(34,139,34, 0.7)" color="secondary">login</mat-icon>
      Login
    </div>
    <div mat-menu-item (click)="logout()" *ngIf="isAuthenticated" style="color: rgba(34,139,34, 0.7)">
      <mat-icon style="font-family: 'Material Icons',serif !important;color: rgba(34,139,34, 0.7)" color="secondary">logout</mat-icon>
      Logout
    </div>
  </mat-card-content>
</mat-card>

<app-mentors *ngIf="!isMobile()"></app-mentors>
