<mat-card>
  <mat-card-title style="text-align: center; font-weight: bold"><span class="mentor-header"
                                                                      style="font-size: large!important;">Hello, AI World!</span>
  </mat-card-title>
  <mat-card-content>

    <mat-card-title><span class="mentor-header">
      <p>In today's internet-driven world, knowledge is just a few clicks away. With the power of <b>Generative AI</b> chatbots, you can now learn software technology faster and more efficiently than ever before.</p>
      <p>Are you eager to dive into the world of software? Look no further! Our <b>Roadmap</b> is designed to help you grasp the basics of software development with ease. Whether you're a complete beginner or have some prior knowledge, our roadmap will guide you through the fundamental concepts step-by-step.</p>
        </span>
    </mat-card-title>
    <!--    <br><p style="padding:13px">Everything is on the internet. All you need is a roadmap to learn any technology.</p>-->
    <button mat-button cdkFocusInitial routerLink="/roadmap" *ngIf="showRoadmap()"
            style="background: rgba(255,153,51, 0.9);color: black;text-align: center; margin-left: auto;
    margin-right: auto;
    display: block; font-weight:bold;">
      <mat-icon style="font-family: 'Material Icons',serif !important; "
                color="secondary">route
      </mat-icon>
      Roadmap
    </button>

    <mat-card-title><span class="mentor-header">
      <br>
      <p>Our <b>1:1 mentorship</b> program is designed to prepare you for real-time tasks, identify areas for improvement, nurture your creative skills, and amplify your abilities.</p>
    <p>Even the most talented individuals have areas where they can improve. Our mentors are experts at identifying your strengths and weaknesses. Through personalized assessments and feedback, they will help you pinpoint areas that need development. Together, you will create a tailored plan to overcome obstacles and enhance your skills, ensuring continuous growth and improvement.</p>
    </span>
    </mat-card-title>
    <button mat-button routerLink="/mentors" *ngIf="showMentors()"
            style=" text-align: center; background: rgba(255,255,255, 0.9); color:#000080;margin-left: auto;
    margin-right: auto;
    display: block; font-weight:bold;">
      <mat-icon style="font-family: 'Material Icons',serif !important; ; color:#000080"
                color="secondary">diversity_2
      </mat-icon>
      Mentors
    </button>

    <mat-card-title><span class="mentor-header">
      <br>
      <p>Our certificates are QR linked to our <b>online dashboard</b>, providing comprehensive information about your capabilities, core values, working style, and hands-on experience with real-time tasks and technologies.</p>
    <p>Earn a certification that goes beyond a piece of paper by providing a QR link to our online dashboard. Showcase your skill-set, capabilities, core values, working style, and real-time task achievements. Stand out to employers who are seeking job-ready professionals like you.</p>
    </span>
    </mat-card-title>
    <button mat-button routerLink="/learner/0" *ngIf="showCertificate()"
            style=" text-align: center;  background: rgba(255,255,255, 0.9); color:#000080;margin-left: auto;
    margin-right: auto;
    display: block;font-weight:bold;">
      <mat-icon style="font-family: 'Material Icons',serif !important ; ; color:#000080"
                color="secondary">
        workspace_premium
      </mat-icon>
      Certificate
    </button>

    <mat-card-title><span class="mentor-header"><br>
<p> Our platform offers seamless registration, expert mentorship, the opportunity to master multiple technologies, the ability to create a professional profile, and the option to apply as a mentor. Join our community of forward-thinking professionals today!</p>
      <p>Your gateway to becoming a <b>multi-professional</b> in the new AI-driven world!</p>
    </span>
    </mat-card-title>
    <button mat-button (click)="showProfile()" *ngIf="showApply()"
            style=" text-align: center;background: rgba(19,136,8, 0.9);margin-left: auto;
    margin-right: auto;
    display: block;font-weight:bold;">
      <mat-icon style="font-family: 'Material Icons',serif !important; ">work</mat-icon>
      Apply as Mentor
    </button>
    <br *ngIf="showApply()">
    <button mat-button routerLink="/login" *ngIf="showLogin()"
            style="background: rgba(19,136,8, 0.7); text-align: center;margin-left: auto;
    margin-right: auto;
    display: block;font-weight:bold;">
      <mat-icon style="font-family: 'Material Icons',serif !important;"
                color="secondary">login
      </mat-icon>
      Login
    </button>
    <button mat-button (click)="logout()" *ngIf="isAuthenticated"
            style="background: rgba(19,136,8, 0.9); text-align: center;margin-left: auto;
    margin-right: auto;
    display: block;font-weight:bold;">
      <mat-icon style="font-family: 'Material Icons',serif !important;"
                color="secondary">logout
      </mat-icon>
      Logout
    </button>
  </mat-card-content>
</mat-card>
