.mentor-card{
  display: flex;
  flex-direction: column;
}

mat-card {
  background-color: rgba(0,0,0,0.9)!important;
}

mat-card-content img{
  border-style: inset;
}

.mentor-form{
  width: 25%;
}

.mentor-all-details{
  margin: 2% 2% 1%;
  text-align: center;
  padding: 2%;
}

.available-mentors{
  margin: 0 2%;
  text-align: center;
}

mat-divider{
  border-color: black;
}

mat-form-field{
  margin: 1%;
}

mat-grid-tile-header{
  justify-content: center;
}

.book-button{
  width: 50%;
}

.rate{
  width: 60%;
  margin: 2%!important;
  font-size:large!important;
}

table {
  width: 100%;
  text-align: left;
}

.filler{
  height: 35%;
}


.mentor-header {
  font-family: "Courier", serif !important;
  font-weight: bold;
  color:lightslategray;
  /*font-family: Agency FB, serif!important;*/
}

@media (min-width: 300px) {
  .mentor-header {
    font-size: medium;
  }
}
@media (min-width: 1000px) {
  .mentor-header {
    font-size: x-large;
  }
}

.learn {
  font-size: small;
  font-family: 'Cambria', serif;
}
.icon-meditate {
  font-family: 'Material Icons', serif!important;
  color:indianred;
}
.mentor-image{
  height:50px;
}
