<p-toast></p-toast>

<mat-card class="available-mentors">
  <mat-card-title><span class="mentor-header">&nbsp;MENTORS&nbsp;</span></mat-card-title>

  <mat-card-content>
    <mat-grid-list [cols]="gridCols()" rowHeight="250px">
      <div *ngFor="let mentor of availableMentors">
        <mat-grid-tile style="border-top: 1px solid darkslategray; cursor: pointer" (click)="viewMentor(mentor)">
          <mat-grid-tile-header><span
            style="color: rgba(255,153,51, 0.7);font-weight: bold; font-size: large;">{{mentor.fullName}}</span>
          </mat-grid-tile-header>
          <mat-card>
            <mat-card-content class="mentor-card">
              <span
                style="color: lightslategray;font-weight: bold; font-size: small;">{{mentor.skillSet.skillSetName}}</span>
              <div class="mentor-image">
                <img [src]="mentor['displayPic']" alt="" height="77px">
              </div>

            </mat-card-content>
          </mat-card>
          <span style="margin-top: 5%;">{{mentor["experience"]}}+  years Exp <br><br> {{mentor["languages"] ? mentor["languages"].toString().replace(',', ', ') : ''}}</span>
          <mat-grid-tile-footer>
            <div style="width:100%">
              <mat-icon class="icon-meditate">school
              </mat-icon>
              <div>
                <a class="learn">
                  Learn
                </a>
              </div>
            </div>
          </mat-grid-tile-footer>
        </mat-grid-tile>
        <br *ngIf="isMobile()">
      </div>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
