<p-toast></p-toast>

<mat-card class="available-mentors">
  <mat-card-title><span class="mentor-header">&nbsp;MENTORS&nbsp;</span></mat-card-title>

  <mat-card-content>
    <mat-grid-list [cols]="gridCols()" rowHeight="270px">
      <div *ngFor="let mentor of availableMentors">
        <mat-grid-tile style=" border-top: 10px solid rgba(0,0,0,0); cursor: pointer" (click)="viewMentor(mentor)">
          <mat-grid-tile-header><span
            style="color: rgba(255,153,51, 0.7);font-weight: bold; font-size: large;">{{mentor.fullName}}</span>
          </mat-grid-tile-header>
          <mat-card class="mentor">
            <mat-card-content class="mentor-card">
              <span
                style="font-weight: bold; font-size: small;">{{mentor.skillSet.skillSetName}}</span>
              <div class="mentor-image">
                <img [src]="mentor['displayPic']" alt="" height="50px">
              </div>
              <span style="margin-top: 5%;">{{mentor["experience"]}}+  years Exp </span>
            </mat-card-content>
          </mat-card>
          <mat-grid-tile-footer>
            <div style="width:100%">
              <button mat-button cdkFocusInitial
                      style="background: rgba(19,136,8, 0.9);text-align: center; margin-left: auto;
     margin-right: auto;
     display: block; font-weight:bold;">
                <mat-icon style="font-family: 'Material Icons',serif !important; "
                          color="secondary">school
                </mat-icon>
                Learn
              </button>
            </div>
          </mat-grid-tile-footer>
        </mat-grid-tile>
      </div>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
